<a [routerLink]="['/']">
  <h1>Brandnew Phone Store</h1>
</a>

<div class="buttons">
  <a routerLink="/register" class="button fancy-button"><i class="material-icons">account_circle</i>Register</a>
  <a routerLink="/cart" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>
  <a routerLink="/data" class="button fancy-button"><i class="material-icons">assignment</i>Data</a>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->